<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/cache
       http://www.springframework.org/schema/cache/spring-cache.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <cache:advice id="cacheAdvisor" cache-manager="cacheManager">
        <cache:caching cache="roleCache">
            <cache:cacheable method="findOne"/>
            <!--<cache:cache-put cache="roleCache" method="save"/>-->
            <cache:cache-evict method="remove"/>
        </cache:caching>
    </cache:advice>

    <aop:config>
        <aop:advisor advice-ref="cacheAdvisor" pointcut="execution(* com.leon.learncache.dao.RoleDao.*(..))"/>
    </aop:config>


    <bean id="cacheManager" class="org.springframework.cache.concurrent.ConcurrentMapCacheManager"/>

    <bean id="roleDao" class="com.leon.learncache.dao.impl.RoleDaoImpl"/>

</beans>